meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
meta(http-equiv="x-ua-compatible", content="ie=edge")
title Lynx
meta(name="title", content="Lynx")
meta(name="description", content="This is a demo of the Lynx theme for Hugo.")
link(rel="canonical", href="https://jpanther.github.io/lynx/")
link(rel="alternate", type="application/rss+xml", href="/lynx/index.xml", title="Lynx")
link(type="text/css", rel="stylesheet", href="/lynx/css/compiled/main.min.dfe2f35c441295f2da5d5fde2d679667d7295c4d88602b36f31a39af1705f5418326cdeb45b3e935420b6e32d9abfa69aac8cdd00f8174e8365e44eea4887ef1.css", integrity="sha512-3+LzXEQSlfLaXV/eLWeWZ9cpXE2IYCs28xo5rxcF9UGDJs3rRbPpNUILbjLZq/ppqsjN0A+BdOg2XkTupIh+8Q==")
link(type="text/css", rel="stylesheet", href="/lynx/css/custom.min.7ef30c352a9a7cbae47d02af40eaeb6077fcb3f81ea50b51d1977abe2203dd2903290db8a98cb738de4397c2d30dfcc1eb155f9d667569b8e717785c433b5bd3.css", integrity="sha512-fvMMNSqafLrkfQKvQOrrYHf8s/gepQtR0Zd6viID3SkDKQ24qYy3ON5Dl8LTDfzB6xVfnWZ1abjnF3hcQztb0w==")
link(rel="apple-touch-icon", sizes="180x180", href="/lynx/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="/lynx/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="/lynx/favicon-16x16.png")
link(rel="manifest", href="/lynx/site.webmanifest")
meta(property="og:title", content)
meta(property="og:description", content="This is a demo of the Lynx theme for Hugo.")
meta(property="og:type", content="website")
meta(property="og:url", content="https://jpanther.github.io/lynx/")
meta(name="twitter:card", content="summary")
meta(name="twitter:title", content)
meta(name="twitter:description", content="This is a demo of the Lynx theme for Hugo.")
meta(name="generator", content="Hugo 0.89.0")
meta(name="author", content="Lynx")
link(href="#ZgotmplZ", rel="me")
link(href="#ZgotmplZ", rel="me")
link(href="https://github.com/jpanther/lynx", rel="me")
link(href="https://twitter.com/jpanther", rel="me")
link(href="#ZgotmplZ", rel="me")
